<!DOCTYPE html>
<html>
<head>
    <title>Şikayet Et</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="DirectoryPlus template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/SiteSablon1/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Content/SiteSablon1/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/SiteSablon1/plugins/OwlCarousel2-2.3.4/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/SiteSablon1/plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/SiteSablon1/plugins/OwlCarousel2-2.3.4/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/SiteSablon1/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/SiteSablon1/styles/responsive.css">

  
</head>

<body>
    

    <div>
        @RenderBody()
    </div>

    <footer class="footer container_custom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_container d-flex flex-md-row flex-column align-items-center justify-content-md-start justify-content-center">
                        <div class="copyright order-md-1 order-2">

                            Özlem Bıyık &copy;
                            <script>document.write(new Date().getFullYear());</script>  <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/SiteSablon1/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/SiteSablon1/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="~/Content/SiteSablon1/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/Content/SiteSablon1/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Content/SiteSablon1/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Content/SiteSablon1/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Content/SiteSablon1/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Content/SiteSablon1/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Content/SiteSablon1/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/SiteSablon1/plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
    <script src="~/Content/SiteSablon1/plugins/easing/easing.js"></script>
    <script src="~/Content/SiteSablon1/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/Content/SiteSablon1/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Content/SiteSablon1/js/custom.js"></script>


  
</body>
</html>
